# --- Frontend ---
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_BOOKING_URL=

# --- Backend ---
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=

BACKEND_CORS_ORIGINS=

# --- Database ---
DATABASE_PORT=
MYSQL_ROOT_PASSWORD=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# --- Backup ---
BACKUP_MAX_BACKUPS=4
BACKUP_CRON_TIME=0 3 * * *
BACKUP_GZIP_LEVEL=6